---
const { title } = Astro.props;
const { desc } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={desc} />
    <style>
      html {
        --s: 84px; /* control the size*/
        --c1: #000000;
        --c2: #121212;

        --c: var(--c1) 0 25%, #0000 0;
        --p: 0 0 / calc(3 * var(--s)) calc(2 * var(--s));
        background:
          conic-gradient(from -45deg at 75% 62.5%, var(--c)) var(--p),
          conic-gradient(from 135deg at 25% 37.5%, var(--c)) var(--p),
          repeating-conic-gradient(from 90deg, var(--c), var(--c2) 0 50%) 0 0 /
            var(--s) var(--s);
      }
    </style>
    <title>{title}</title>
  </head>
  <body class="text-white">
    <slot />
  </body>
</html>
