---
const { title } = Astro.props;
const { desc } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={desc} />
    <style>
      * {
        scroll-behavior: smooth;
      }
    </style>
    <title>{title}</title>
  </head>
  <body class="text-white bg-neutral-950 scroll-smooth">
    <slot />
  </body>
</html>
