<section>
  <div class="grid grid-cols-2 justify-center items-center p-4">
    <div>
      <h2>acerca de mi</h2>
      <p class="text-pretty">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
        reiciendis commodi veritatis blanditiis, hic natus modi laudantium
        corrupti adipisci beatae voluptatem nihil ratione possimus vero quisquam
        veniam! Iusto et quae, aliquid quam, illo nulla soluta blanditiis,
        quaerat dicta voluptate aperiam? Ipsam consequuntur eaque eius beatae
        eos voluptatibus aspernatur architecto cumque?
      </p>
    </div>
    <div>
      <img src="/favicon.svg" alt="una sabrosa imagen de algo" />
    </div>
  </div>
</section>
