<footer>
  <div class="footer-content">
    <p>
      &copy; 2024 <span class="text-purple-600">sylenthmen.</span> casi todos los
      derechos reservados.
    </p>
  </div>
</footer>

<style>
  body {
    margin: 0;
  }

  footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    border-top: 5px solid;
    animation: border-rgb 3s infinite;
  }

  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  @keyframes border-rgb {
    0% {
      border-color: red;
    }
    33% {
      border-color: green;
    }
    66% {
      border-color: blue;
    }
    100% {
      border-color: red;
    }
  }
</style>
