<section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
  <div class="flex flex-col items-center">
    <img
      class="w-96 rounded-lg hover:shadow-xl hover:shadow-orange-600 hover:-translate-y-4 transition-all"
      src="/person1.png"
      alt="un hombre sentado viendo a un monitor de computador"
    />
    <h3 class="mt-2 text-center">
      Donde los sueños musicales se convierten en realidad
    </h3>
  </div>
  <div class="flex flex-col items-center">
    <img
      class="w-96 rounded-lg hover:shadow-xl hover:shadow-purple-600 hover:-translate-y-4 transition-all"
      src="/person2.png"
      alt="dj frente a sus espectadores"
    />
    <h3 class="mt-2 text-center">
      La música es nuestra misión, el éxito de los artistas es nuestra pasión.
    </h3>
  </div>
  <div class="flex flex-col items-center">
    <img
      class="w-96 rounded-lg hover:shadow-xl hover:shadow-white hover:-translate-y-4 transition-all"
      src="/person3.png"
      alt="edificio de noche"
    />
    <h3 class="mt-2 text-center">
      Transformando talento en melodías inmortales
    </h3>
  </div>
</section>
