<section class="flex flex-col justify-center items-center h-screen">
  <h1 class="uppercase font-bold text-4xl">bienvenido</h1>
  <div class="scroll-icon ex-1">
    <span class="wheel"></span>
  </div>
</section>

<style>
  .scroll-icon {
    position: relative;
    margin: 2em;
    width: 2em;
    height: 3em;
    border: 0.3em solid #fff;
    border-radius: 2em;
  }

  .scroll-icon.ex-1 .wheel {
    position: absolute;
    left: 50%;
    top: 15%;
    width: 0.6em;
    height: 0.6em;
    background-color: #fff;
    transform: translate(-50%, 0);
    border-radius: 0.6em;
    animation: ex-1-wheel 1s ease-in-out infinite;
  }

  @keyframes ex-1-wheel {
    0% {
      transform: translate(-50%, 0);
      opacity: 0;
    }
    20%,
    70% {
      opacity: 1;
    }
    90%,
    100% {
      transform: translate(-50%, 150%);
      opacity: 0;
    }
  }
</style>
