---
import Facebook from "./iconos/Facebook.astro";
import Spotify from "./iconos/Spotify.astro";
import Youtube from "./iconos/Youtube.astro";
import Soundcloud from "./iconos/Soundcloud.astro";
import Github from "./iconos/Github.astro";
import Twitch from "./iconos/Twitch.astro";
---

<header class="bg-black text-white items-center font-bold w-full">
  <nav class="flex justify-between p-4 items-center w-full sticky-nav">
    <div class="items-center">
      <a href="/"
        ><img
          class="h-12 items-center hover:scale-105 transition-all hover:-rotate-6"
          src="/sylenthmenlogopagmordeg.png"
          alt="logotipo"
        /></a
      >
    </div>
    <div class="menu flex gap-x-4 hidden md:flex">
      <a
        class="hover:text-purple-700 transition-all capitalize cursor-pointer"
        href="/">Principal</a
      >
      <a
        class="hover:text-purple-700 transition-all capitalize cursor-pointer"
        href="#about">acerca de</a
      >
      <a
        class="hover:text-purple-700 transition-all capitalize cursor-pointer"
        href="#musica">musica</a
      >
      <a
        class="hover:text-purple-700 transition-all capitalize cursor-pointer"
        href="#gameing">tienda</a
      >
      <a
        class="hover:text-purple-700 transition-all capitalize cursor-pointer"
        href="#label">sello discografico</a
      >
      <a
        class="hover:text-purple-700 transition-all capitalize cursor-pointer"
        href="https://contacto.sylenthmen.site/">contacto</a
      >
    </div>
    <div class="flex gap-x-2 items-center hidden md:flex">
      <a
        target="_blank"
        class="hover:text-blue-600 transition-all hover:scale-125"
        href="https://www.facebook.com/sylenthmen"><Facebook /></a
      >
      <a
        target="_blank"
        class="transition-all hover:scale-125"
        href="https://www.twitch.tv/sylenthmen"><Twitch /></a
      >
      <a
        target="_blank"
        class="hover:text-green-600 transition-all hover:scale-125"
        href="https://open.spotify.com/intl-es/artist/5srgKJwPk1Fo70Uj5Kbrpl?si=M_w9YL_7TN6UrKDHi8CXiQ&nd=1&dlsi=36aaf506801d4d6e"
        ><Spotify /></a
      >
      <a
        target="_blank"
        class="hover:text-red-800 transition-all hover:scale-125"
        href="https://www.youtube.com/@sylenthmen"><Youtube /></a
      >
      <a
        target="_blank"
        class="hover:text-orange-600 transition-all hover:scale-125"
        href="https://soundcloud.com/sylenthmen"><Soundcloud /></a
      >
      <a
        target="_blank"
        class="hover:text-slate-600 transition-all hover:scale-125"
        href="https://github.com/SylenthMen"><Github /></a
      >
    </div>
    <button
      id="mobile-menu-button"
      class="md:hidden flex items-center px-3 py-2 border rounded text-white border-white hover:text-purple-600 hover:border-purple-600 hover:bg-purple-600/25"
    >
      <svg
        class="fill-current h-3 w-3"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>Menu</title>
        <path d="M0 3h20v2H0zM0 9h20v2H0zM0 15h20v2H0z"></path>
      </svg>
    </button>
  </nav>
  <div id="mobile-menu" class="hidden flex-col">
    <a
      class="block text-center px-4 py-2 transition-all hover:bg-red-400"
      href="/">Principal</a
    >
    <a
      class="block text-center px-4 py-2 transition-all hover:bg-green-300"
      href="#about">acerca de</a
    >
    <a
      class="block text-center px-4 py-2 transition-all hover:bg-blue-400"
      href="#musica">musica</a
    >
    <a
      class="block text-center px-4 py-2 transition-all hover:bg-purple-400"
      href="#gameing">tienda</a
    >
    <a
      class="block text-center px-4 py-2 transition-all hover:bg-orange-400"
      href="#label">sello discografico</a
    >
    <a
      class="block text-center px-4 py-2 transition-all hover:bg-yellow-400"
      href="https://contacto.sylenthmen.site/">contacto</a
    >
  </div>
</header>

<style>
  header {
    position: relative;
  }

  header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(
      90deg,
      red,
      yellow,
      green,
      cyan,
      blue,
      magenta,
      red
    );
    background-size: 600% 100%;
    animation: animate-border 3s linear infinite;
  }

  @keyframes animate-border {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
  }

  .menu a,
  .mobile-menu a {
    transition: transform 0.3s ease-in-out;
  }

  .menu a:hover,
  .mobile-menu a:hover {
    transform: scale(1.05);
  }

  /* Estilos para dispositivos móviles */
  @media (max-width: 820px) {
    .menu {
      display: none;
    }

    .mobile-menu {
      display: none;
      flex-direction: column;
      background-color: white;
      animation: slideDown 0.5s ease-in-out;
    }

    .mobile-menu-button {
      display: flex;
    }
  }

  /* Animación de apertura del menú móvil */
  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .sticky-nav {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const mobileMenuButton = document.getElementById("mobile-menu-button");
    const mobileMenu = document.getElementById("mobile-menu");

    mobileMenuButton.addEventListener("click", () => {
      mobileMenu.classList.toggle("hidden");
    });
  });
</script>
