---
import Titulos from "./Titulos.astro";
import GridTemplate from "./GridTemplate.astro";
---

<section id="label" class="p-4">
  <div class="mb-4">
    <div class="flex gap-x-2">
      <Titulos subTitu="skull island records" />
    </div>
    <p>
      En Skull Island Records, nos dedicamos a impulsar la evolución y la
      diversidad en la escena de la música electrónica. Nos esforzamos por
      descubrir y apoyar talentos únicos y vanguardistas.
    </p>
  </div>
  <GridTemplate />
</section>
