---
import Layout from "./layouts/Layout.astro";
import Nav from "./components/Nav.astro";
import Hero from "./components/Hero.astro";
import About from "./components/About.astro";
import Music from "./components/Music.astro";
import Skull from "./components/Skull.astro";
import Gaming from "./components/Gaming.astro";
import Footer from "./components/Footer.astro";
---

<Layout
  title="sylenthmen | Home"
  desc="Sumérgete en el emocionante universo de nuestra página web, donde la melodía y la acción se fusionan en una experiencia única de música y gaming. Descubre nuevos ritmos que acompañarán tus aventuras virtuales, explora los sonidos que elevan tus partidas a otro nivel y conecta con una comunidad apasionada que comparte tu amor por la música y los videojuegos. Bienvenido a un espacio donde la diversión y la vibrante sinfonía digital convergen para crear momentos inolvidables. ¡Únete a nosotros y deja que la música te guíe en tu viaje gamer!"
>
  <div class="sticky top-0 z-50">
    <Nav />
  </div>
  <Hero />
  <About />
  <Music />
  <Skull />
  <Gaming />
  <Footer />
</Layout>
